{% extends 'base.html.twig' %}

{% block body %}

   <script>
    
    </script>

    <div id="homepage-app">
        <get-loads-data-component></get-loads-data-component>

        
    </div>
{% endblock %}
